* {
	align-content: center;
}

body {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

	width: calc(100% - 80px);
	height: calc(100% - 200px);
	
	display:block;
	text-align: center;
	
	border: 3px solid #000000;
	margin: 20px 50px 20px 50px;
	padding: 10px 10px 10px 10px;
}

#header {
	color:red;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

#navbar {
    align-items: center;
    display: flex;
    justify-content: center;
}

#actions > form {
	margin: 10px;
}

#songFail {
	color:red;
}
